<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.uniluebeck.de/isp/tessla/xtext/TeSSLa"
			class = "de.uniluebeck.isp.tessla.xtext.teSSLa.TeSSLaPackage"
			genModel = "model/generated/TeSSLa.genmodel" />
	</extension>
</plugin>
